#document
{
    background: #23395d;
    height: 100%;
}

body
{
    height: 100%;
    overflow: hidden;
}

table, th {
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td
{
    border: 1px solid black;
    width: 20%;
}

#titlebar
{
    background: white;
    height: 25px;
    white-space: nowrap;
    font-size: .8vw;
    font-family: 'Anonymous pro', monospace;
}

#rawcontainer
{
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    bottom: 1px;
    top: 25px;
}

#loadingprogress
{
    font-family: 'Roboto Mono', monospace;
    color: white;
    position: absolute;
    left: 50%;
    top: 57.5%;
    transform: translate(-50%, -50%);
    font-size: medium;
}

#chartcontainer
{
    background: white;
    position: absolute;
    right: 40%;
    bottom: 6px;
    left: 6px;
    top: 52px;
    border: white;
    border-style: solid;
    border-radius: 2px;
    overflow-y: scroll;
    visibility: hidden;
}

#overviewcontainer
{
    visibility: visible;
    position: absolute;
    top: 52px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: white;
    border-radius: 2px;
    border-style: solid;
    border-color: white;
    text-align: center;
}


#graphcontainer
{
    visibility: hidden;
    position: absolute;
    top: 52px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: white;
    border-radius: 2px;
    border-style: solid;
    border-color: white;
    padding: 10px;
}

#selection
{
    background: white;
    border: white;
    border-style: solid;
    border-radius: 2px;
    position: absolute;
    left: 6px;
    top: 6px;
    right: 6px;
    height: 35px;
}


#tablecontainer {
    visibility: hidden;
    background: white;
    position: absolute;
    top: 52px;
    left: calc(60% + 6px);
    right: 6px;
    bottom: 6px;
    border: white;
    border-style: solid;
    border-radius: 2px;
}

#dropdown
{
    font-family: 'Roboto Mono', monospace;
    border: none;
}

#date1
{
    position: absolute;
    left: 359px;
    top: 1px;
    bottom: 1px;
    border: none;
    background: lightgrey;
    font-family: 'Roboto Mono', monospace;
    border-radius: 2px;
    z-index: 100;
    visibility: hidden;
}

#date2
{
    position: absolute;
    left: 483px;
    top: 1px;
    bottom: 1px;
    border: none;
    background: lightgrey;
    font-family: 'Roboto Mono', monospace;
    border-radius: 2px;
    visibility: hidden;
}

#overview
{
    position: absolute;
    border: none;
    top: 1px;
    bottom: 1px;
    background: #23395d;
    color: white;
    position: absolute;
    right: 147px;
    width: 70px;
    text-align: center;
    padding: 0px;
    border-radius: 2px;
    transition-duration: .25s;
    font-family: 'Roboto Mono', monospace;
}

#history
{
    top: 1px;
    bottom: 1px;
    border: none;
    border-radius: 2px;
    background: lightgrey;
    color: black;
    position: absolute;
    right: 1px;
    width: 70px;
    text-align: center;
    padding: 0px;
    transition-duration: .25s;
    font-family: 'Roboto Mono', monospace;
}

#graphing
{
    top: 1px;
    bottom: 1px;
    border: none;
    border-radius: 2px;
    background: lightgrey;
    color: black;
    position: absolute;
    right: 74px;
    width: 70px;
    text-align: center;
    padding: 0px;
    transition-duration: .25s;
    font-family: 'Roboto Mono', monospace;

}

#dash
{
    position: absolute;
    left: 474px;
    top: 1px;
    bottom: 1px;
    line-height: 2px;
    visibility: hidden;
}

#overviewCases
{
    font-family: 'Roboto Mono', monospace;
    font-size: 10vw;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

#overviewCasesTitle
{
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    text-align: center;
    margin: 0;
}

#overviewNew
{
    font-family: 'Roboto Mono', monospace;
    font-size: 7vw;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

#overviewNewTitle
{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2vw;
    margin: 0;
}

#overviewDeath
{
    font-family: 'Roboto Mono', monospace;
    font-size: 7vw;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

#overviewDeathTitle
{
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    text-align: center;
    margin: 0;
}

#overviewTitle
{
    font-family: 'Roboto Mono', monospace;
    font-size: 5vw;
    width: 100%;
    text-align: center;
}

.checkboxes
{
    font-family: 'Roboto Mono', monospace;
    font-size: small;
}

#countrylabel
{
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    background: #23395d;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 1px;
    font-size: 10px;
    width: 70px;
    z-index: 10;
    line-height: 30px;
}

#country
{
    position: absolute;
    left: 73px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    top: 1px;
    bottom: 1px;
    background: lightgrey;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    width: 200px;
}

#state
{
    visibility: hidden;
    position: absolute;
    left: 225px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    top: 1px;
    bottom: 1px;
    background: lightgrey;
    border-radius: 1px;
}
#suboverviewcontainer
{
    display: inline-block;
    width: auto;
}
